@charset "UTF-8";
@font-face {
  font-family: "TTWellingtonsMedium";
  src: url("../fonts/TT-Wellingtons-Medium.ttf?#iefix") format("embedded-opentype"), url("../fonts/TT-Wellingtons-Medium.ttf") format("truetype"), url("../fonts/TT-Wellingtons-Medium.otf") format("opentype"), url("../fonts/TT-Wellingtons-Medium.woff") format("woff"), url("../fonts/TT-Wellingtons-Medium.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "TTWellingtonsRegular";
  src: url("../fonts/TT-Wellingtons-Regular.ttf?#iefix") format("embedded-opentype"), url("../fonts/TT-Wellingtons-Regular.ttf") format("truetype"), url("../fonts/TT-Wellingtons-Regular.otf") format("opentype"), url("../fonts/TT-Wellingtons-Regular.woff") format("woff"), url("../fonts/TT-Wellingtons-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "TTWellingtonsRegular";
  src: url("../fonts/TT-Wellingtons-Light.ttf?#iefix") format("embedded-opentype"), url("../fonts/TT-Wellingtons-Light.ttf") format("truetype"), url("../fonts/TT-Wellingtons-Light.otf") format("opentype"), url("../fonts/TT-Wellingtons-Light.woff") format("woff"), url("../fonts/TT-Wellingtons-Light.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Haval";
  src: url("../fonts/Haval-Light.ttf?#iefix") format("embedded-opentype"), url("../fonts/Haval-Light.ttf") format("truetype"), url("../fonts/Haval-Light.otf") format("opentype"), url("../fonts/Haval-Light.woff") format("woff"), url("../fonts/Haval-Light.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
:root {
  --white: #fff;
  --black: #000;
  --tiffany: #00CABF;
  --grey: #F3F3F3;
}

html {
  box-sizing: border-box;
  scrollbar-gutter: stable;
}

*, *::after, *::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  background: var(--beige);
  color: var(--text);
  font-family: "TTWellingtonsMedium", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  scrollbar-gutter: stable;
}

a {
  text-decoration: none;
  color: inherit;
}

.c {
  clear: both;
}

img {
  border: none;
  outline: none;
  vertical-align: bottom;
}

.container {
  width: 100%;
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 50px;
}
@media only screen and (max-width: 991px) {
  .container {
    padding: 0 20px;
  }
}

body.scroll-locked {
  position: fixed;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* header */
.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background: var(--black);
  z-index: 9;
  overflow: hidden;
}
@media only screen and (max-width: 1250px) {
  .header {
    overflow: unset;
  }
}
.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 76px;
  gap: 20px;
}
@media only screen and (max-width: 1250px) {
  .header__top-logo {
    max-width: 270px;
  }
}
.header__top-phone {
  display: flex;
  align-items: center;
  gap: 10px;
}
@media only screen and (max-width: 768px) {
  .header__top-phone {
    display: none;
  }
}
.header__top-phone svg {
  flex-shrink: 0;
}
@media only screen and (max-width: 1250px) {
  .header__top-phone svg {
    width: 18px;
  }
}
.header__top-phone span {
  color: var(--white);
  font-family: Haval;
  font-weight: 600;
  font-size: 15px;
  line-height: 100%;
  letter-spacing: 0%;
  transition: all 0.2s ease;
}
@media only screen and (max-width: 1250px) {
  .header__top-phone span {
    font-size: 13px;
  }
}
.header__top-phone:hover span {
  color: var(--tiffany);
}
.header__top-text {
  display: flex;
  align-items: center;
  gap: 10px;
}
@media only screen and (max-width: 991px) {
  .header__top-text {
    display: none;
  }
}
.header__top-text svg {
  flex-shrink: 0;
}
.header__top-text > span {
  display: flex;
  flex-direction: column;
  gap: 1px;
}
.header__top-text-location {
  color: var(--white);
  font-family: Haval;
  font-weight: 400;
  font-size: 13px;
  line-height: 100%;
  letter-spacing: 0%;
}
@media only screen and (max-width: 1250px) {
  .header__top-text-location {
    font-size: 12px;
  }
}
.header__top-text-time {
  color: var(--white);
  font-family: Haval;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
}
@media only screen and (max-width: 1250px) {
  .header__top-text-time {
    font-size: 11px;
  }
}
.header__top-burger {
  display: none;
  align-items: center;
  justify-content: center;
  gap: 14px;
  color: var(--white);
  font-family: Haval;
  font-weight: 400;
  font-size: 10.66px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  transition: all 0.2s ease;
  width: 30px;
  height: 30px;
  position: relative;
  cursor: pointer;
}
@media only screen and (max-width: 768px) {
  .header__top-burger {
    display: flex;
  }
}
.header__top-burger::before {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(calc(-50% - 6px));
  width: 100%;
  height: 1px;
  background: var(--white);
  transition: all 0.2s ease;
}
.header__top-burger::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 70%;
  height: 1px;
  background: var(--white);
  transition: all 0.2s ease;
}
.header__top-burger._active {
  transform: rotate(45deg);
}
.header__top-burger._active::after {
  transform: rotate(90deg);
}
.header__top-burger._active::before {
  transform: translateY(-50%);
  width: 70%;
}
.header__menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  height: 33px;
  position: relative;
}
.header__menu._active {
  transform: translateX(0);
}
@media only screen and (max-width: 768px) {
  .header__menu {
    position: absolute;
    left: 0;
    top: 100%;
    transform: translateX(-200%);
    transition: all 0.2s ease;
    flex-direction: column;
    padding: 30px 20px;
    background: var(--black);
    width: 100%;
    height: calc(100vh - 76px);
    height: calc(100svh - 76px);
    align-items: flex-start;
    justify-content: flex-start;
    gap: 14px;
  }
}
.header__menu::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  height: 1px;
  width: 100vw;
  background: rgba(255, 255, 255, 0.2);
}
.header__menu-model {
  display: flex;
  gap: 14px;
}
.header__menu-model-burger {
  display: none;
  align-items: center;
  gap: 14px;
  color: var(--white);
  font-family: Haval;
  font-weight: 400;
  font-size: 10.66px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  transition: all 0.2s ease;
  cursor: pointer;
}
@media only screen and (max-width: 1250px) {
  .header__menu-model-burger {
    display: flex;
  }
}
@media only screen and (max-width: 768px) {
  .header__menu-model-burger {
    display: none;
  }
}
.header__menu-model-burger span {
  position: relative;
  width: 30px;
  height: 30px;
  transition: all 0.2s ease;
}
.header__menu-model-burger span::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(calc(-50% - 6px));
  width: 100%;
  height: 1px;
  background: var(--white);
  transition: all 0.2s ease;
}
.header__menu-model-burger span::after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 70%;
  height: 1px;
  background: var(--white);
  transition: all 0.2s ease;
}
.header__menu-model-burger._active span {
  transform: rotate(45deg);
}
.header__menu-model-burger._active span::after {
  transform: rotate(90deg);
}
.header__menu-model-burger._active span::before {
  transform: translateY(-50%);
  width: 70%;
}
.header__menu-model-burger:hover span::after {
  background: var(--tiffany);
}
.header__menu-model-burger:hover span::before {
  background: var(--tiffany);
}
.header__menu-model-burger:hover {
  color: var(--tiffany);
}
@media only screen and (max-width: 1250px) {
  .header__menu-model-block {
    display: none;
    position: absolute;
    left: -50px;
    top: 100%;
    z-index: 2;
    background: var(--black);
    width: 100vw;
  }
}
@media only screen and (max-width: 768px) {
  .header__menu-model-block {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: static;
  }
}
@media only screen and (max-width: 1250px) {
  .header__menu-model {
    padding: 40px 50px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    flex-wrap: wrap;
    gap: 20px 40px;
  }
  .header__menu-model li {
    width: calc(33.333% - 40px);
  }
  .header__menu-model a {
    padding: 10px 14px;
    width: 100%;
  }
}
@media only screen and (max-width: 768px) {
  .header__menu-model {
    padding: 0;
    border-top: none;
    flex-direction: column;
    gap: 0;
  }
  .header__menu-model li {
    width: 100%;
  }
  .header__menu-model a {
    padding: 10px 0;
    width: 100%;
    display: block;
  }
}
.header__menu-model a {
  color: var(--white);
  font-family: Haval;
  font-weight: 600;
  font-size: 10.66px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  transition: all 0.2s ease;
}
.header__menu-model a:hover {
  color: var(--tiffany);
}
.header__menu-about {
  display: flex;
  gap: 14px;
}
@media only screen and (max-width: 768px) {
  .header__menu-about {
    position: absolute;
    left: 20px;
    bottom: 20px;
    gap: 10px;
    width: calc(100% - 40px);
    align-items: flex-end;
  }
}
.header__menu-about a {
  color: var(--white);
  font-family: Haval;
  font-weight: 400;
  font-size: 10.66px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  transition: all 0.2s ease;
}
.header__menu-about a:hover {
  color: var(--tiffany);
}
@media only screen and (max-width: 768px) {
  .header__menu-about a {
    font-size: 10px;
  }
}

/* Первый экран */
.first-screen {
  position: relative;
  width: 100%;
  height: calc(100vh - 318px);
  height: calc(100svh - 318px);
  padding: 80px 0;
}
@media only screen and (max-width: 1440px) {
  .first-screen {
    padding: 40px 0;
  }
}
@media only screen and (max-width: 991px) {
  .first-screen {
    height: calc(100vh - 109px);
    height: calc(100svh - 109px);
  }
}
@media only screen and (max-width: 768px) {
  .first-screen {
    height: calc(100vh - 76px);
    height: calc(100svh - 76px);
  }
}
.first-screen > img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.first-screen__container {
  position: relative;
  z-index: 2;
}
.first-screen__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  color: var(--white);
  font-family: Haval;
  font-weight: 600;
  font-size: 40px;
  line-height: 55px;
  letter-spacing: 0%;
  text-align: center;
}
.first-screen__title span {
  color: var(--tiffany);
  font-family: Haval;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
}
@media only screen and (max-width: 1440px) {
  .first-screen__title {
    font-size: 32px;
    line-height: 36px;
  }
}
@media only screen and (max-width: 768px) {
  .first-screen__title {
    font-size: 28px;
    line-height: 32px;
  }
}
.first-screen__btn {
  margin: 0 auto;
  margin-top: 44px;
  padding: 0 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 60px;
  min-width: 374px;
  background: var(--tiffany);
  color: var(--white);
  font-family: Haval;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.2s ease;
}
.first-screen__btn:hover {
  background: var(--white);
  color: var(--tiffany);
}
@media only screen and (max-width: 1250px) {
  .first-screen__btn {
    margin-top: 34px;
    height: 50px;
    font-size: 14px;
    min-width: 344px;
  }
}
@media only screen and (max-width: 768px) {
  .first-screen__btn {
    min-width: auto;
  }
}

/* Таймер */
.timer {
  height: 209px;
  background: var(--grey);
}
@media only screen and (max-width: 991px) {
  .timer {
    height: auto;
    padding: 30px 0;
  }
}
.timer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  height: 100%;
}
@media only screen and (max-width: 991px) {
  .timer__container {
    flex-direction: column;
    justify-content: flex-start;
  }
}
.timer__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;
}
@media only screen and (max-width: 991px) {
  .timer__block {
    gap: 20px;
  }
}
.timer__block-title {
  color: var(--black);
  font-family: Haval;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  text-align: center;
}
@media only screen and (max-width: 1250px) {
  .timer__block-title {
    font-size: 14px;
  }
}
.timer__btn {
  padding: 0 69px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 70px;
  min-width: 467px;
  background: var(--tiffany);
  color: var(--white);
  font-family: Haval;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.2s ease;
}
.timer__btn:hover {
  background: var(--black);
}
@media only screen and (max-width: 1250px) {
  .timer__btn {
    font-size: 14px;
    height: 60px;
    min-width: 367px;
    padding: 0 40px;
  }
}
@media only screen and (max-width: 991px) {
  .timer__btn {
    height: 50px;
    min-width: auto;
  }
}

/* Листинг продуктов */
.product {
  padding: 78px 0;
}
@media only screen and (max-width: 991px) {
  .product {
    padding: 30px 0;
    padding-top: 53px;
  }
}
.product__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 30px;
}
@media only screen and (max-width: 1250px) {
  .product__container {
    gap: 20px;
  }
}
@media only screen and (max-width: 991px) {
  .product__container {
    gap: 40px;
  }
}
.product__item {
  position: relative;
  background: var(--grey);
  padding: 40px;
  width: calc(50% - 15px);
  padding-bottom: 272px;
}
@media only screen and (max-width: 1250px) {
  .product__item {
    padding: 20px;
    padding-bottom: 222px;
  }
}
@media only screen and (max-width: 991px) {
  .product__item {
    width: calc(50% - 10px);
  }
}
@media only screen and (max-width: 768px) {
  .product__item {
    width: 100%;
  }
}
.product__item-availability {
  position: absolute;
  right: 42px;
  top: 0;
  transform: translateY(-23px);
  width: 187px;
  height: 42px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--tiffany);
  color: var(--white);
  font-family: Haval;
  font-weight: 600;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
}
.product__item-availability span {
  color: var(--black);
}
.product__item-info {
  background: var(--white);
  position: relative;
  padding: 24px;
  display: block;
  padding-bottom: 0;
}
@media only screen and (max-width: 1250px) {
  .product__item-info {
    padding: 12px;
    padding-bottom: 0;
  }
}
.product__item-info span {
  display: block;
}
.product__item-info-name {
  color: var(--black);
  font-family: Haval;
  font-weight: 600;
  font-style: Medium;
  font-size: 22px;
  line-height: 30.6px;
  letter-spacing: 0%;
  margin-bottom: 20px;
  max-width: calc(100% - 163px);
}
@media only screen and (max-width: 1250px) {
  .product__item-info-name {
    font-size: 18px;
    line-height: 22px;
    max-width: calc(100% - 150px);
  }
}
@media only screen and (max-width: 991px) {
  .product__item-info-name {
    margin-bottom: 10px;
    max-width: 100%;
  }
}
.product__item-info-benefit {
  color: var(--black);
  font-family: Haval;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  margin-bottom: 13px;
}
@media only screen and (max-width: 991px) {
  .product__item-info-benefit {
    font-size: 18px;
  }
}
.product__item-info-benefit span {
  display: inline;
  color: var(--tiffany);
  font-family: Haval;
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
}
@media only screen and (max-width: 991px) {
  .product__item-info-benefit span {
    font-size: 18px;
  }
}
.product__item-info-test {
  position: absolute;
  right: 24px;
  top: 27px;
  display: flex !important;
  align-items: center;
  gap: 8px;
  width: 153px;
  color: var(--black);
  font-family: Haval;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
}
.product__item-info-test:hover .product__item-info-test-icon {
  background: var(--black);
}
@media only screen and (max-width: 1250px) {
  .product__item-info-test {
    top: 14px;
    right: 12px;
    font-size: 11px;
    width: 138px;
    gap: 5px;
  }
}
@media only screen and (max-width: 991px) {
  .product__item-info-test {
    position: static;
  }
}
.product__item-info-test-icon {
  background: var(--tiffany);
  border-radius: 50%;
  width: 28px;
  height: 28px;
  display: flex !important;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  transition: all 0.2s ease;
}
.product__item-info-images {
  background: url("../img/product-bg.png") no-repeat left bottom;
  background-size: 100%;
  margin: 0 -24px;
}
@media only screen and (max-width: 1250px) {
  .product__item-info-images {
    margin: 0 -12px;
  }
}
.product__item-info-images img:not(._active) {
  display: none;
}
.product__item-colors {
  margin: 26px 0;
  display: flex;
  justify-content: center;
  gap: 16px;
}
.product__item-colors-item {
  width: 28px;
  height: 28px;
  position: relative;
}
.product__item-colors-item span {
  display: block;
  width: 28px;
  height: 28px;
  position: relative;
  border-radius: 50%;
  z-index: 2;
}
.product__item-colors-item._black span {
  background: #000;
}
.product__item-colors-item._white span {
  background: #E7E7E7;
}
.product__item-colors-item._grey span {
  background: #A1A1A1;
}
.product__item-colors-item._red span {
  background: #A13A21;
}
.product__item-colors-item._active::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.5);
  width: 34px;
  height: 34px;
  background: #fff;
  z-index: 1;
}
.product__item-pluses {
  display: flex;
  flex-wrap: wrap;
  gap: 13px 5px;
}
.product__item-pluses-item {
  display: flex;
  align-items: center;
  gap: 12px;
  color: var(--black);
  font-family: Haval;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
  cursor: pointer;
  width: calc(50% - 3px);
}
@media only screen and (max-width: 500px) {
  .product__item-pluses-item {
    width: 100%;
  }
}
.product__item-pluses-item-icon {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--black);
  transition: all 0.2s ease;
  flex-shrink: 0;
}
.product__item-pluses-item:hover .product__item-pluses-item-icon {
  background: var(--tiffany);
}
.product__item-btns {
  position: absolute;
  bottom: 40px;
  left: 40px;
  width: calc(100% - 80px);
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media only screen and (max-width: 1250px) {
  .product__item-btns {
    left: 20px;
    bottom: 20px;
    width: calc(100% - 40px);
  }
}
.product__item-btns-price {
  background: var(--tiffany);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 60px;
  color: var(--white);
  font-family: Haval;
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.2s ease;
}
.product__item-btns-price:hover {
  background: var(--black);
}
@media only screen and (max-width: 1250px) {
  .product__item-btns-price {
    height: 50px;
  }
}
.product__item-btns-credit {
  background: var(--black);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 60px;
  color: var(--white);
  font-family: Haval;
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.2s ease;
}
.product__item-btns-credit:hover {
  background: var(--tiffany);
}
@media only screen and (max-width: 1250px) {
  .product__item-btns-credit {
    height: 50px;
  }
}
.product__item-btns-equipment {
  border: 1px solid var(--black);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 60px;
  color: var(--black);
  font-family: Haval;
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.2s ease;
}
.product__item-btns-equipment:hover {
  background: var(--black);
  color: var(--white);
}
@media only screen and (max-width: 1250px) {
  .product__item-btns-equipment {
    height: 50px;
  }
}

/* Модальное окно */
.modal-block {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  height: 100svh;
  z-index: 99;
}
.modal-block._open {
  display: flex;
}
.modal-block__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}
.modal-block__final {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 474px;
  padding: 40px 50px;
  background: #fff;
}
@media only screen and (max-width: 768px) {
  .modal-block__final {
    top: auto;
    bottom: 0;
    transform: translateX(-50%);
    border-radius: 20px 20px 0 0;
    width: 100%;
    max-width: 100%;
    padding: 30px;
  }
}
.modal-block__window {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 474px;
  padding: 40px 50px;
  background: #fff;
}
@media only screen and (max-width: 768px) {
  .modal-block__window {
    top: auto;
    bottom: 0;
    transform: translateX(-50%);
    border-radius: 20px 20px 0 0;
    width: 100%;
    max-width: 100%;
    padding: 30px;
  }
}
.modal-block__window-title {
  color: var(--black);
  font-family: Haval;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
}
.modal-block__window-description {
  color: var(--black);
  font-family: Haval;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  margin-top: 20px;
}
.modal-block__window-inp {
  margin-bottom: 20px;
  width: 100%;
  height: 50px;
  color: var(--black);
  font-family: Haval;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  border-bottom: 1px solid #000;
}
.modal-block__window-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 70px;
  width: 100%;
  background: var(--tiffany);
  color: var(--white);
  font-family: Haval;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.2s ease;
}
.modal-block__window-btn:hover {
  background: var(--black);
}

.wow {
  visibility: hidden;
} /* если подключено wow.js *//*# sourceMappingURL=style.css.map */