@font-face {
    font-family: 'Lato-Regular';
  
    src: url('../fonts/Lato-Regular.ttf?#iefix') format('embedded-opentype'),
         url('../fonts/Lato-Regular.ttf')  format('truetype'),
           url('../fonts/Lato-Regular.otf')  format('opentype'),
           url('../fonts/Lato-Regular.woff')  format('woff'),
           url('../fonts/Lato-Regular.woff2')  format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Lato-SemiBold';
  
    src: url('../fonts/Lato-SemiBold.ttf?#iefix') format('embedded-opentype'),
         url('../fonts/Lato-SemiBold.ttf')  format('truetype'),
           url('../fonts/Lato-SemiBold.otf')  format('opentype'),
           url('../fonts/Lato-SemiBold.woff')  format('woff'),
           url('../fonts/Lato-SemiBold.woff2')  format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Lato-Bold';
  
    src: url('../fonts/Lato-Bold.ttf?#iefix') format('embedded-opentype'),
         url('../fonts/Lato-Bold.ttf')  format('truetype'),
           url('../fonts/Lato-Bold.otf')  format('opentype'),
           url('../fonts/Lato-Bold.woff')  format('woff'),
           url('../fonts/Lato-Bold.woff2')  format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Lato-ExtraBold';
  
    src: url('../fonts/Lato-ExtraBold.ttf?#iefix') format('embedded-opentype'),
         url('../fonts/Lato-ExtraBold.ttf')  format('truetype'),
           url('../fonts/Lato-ExtraBold.otf')  format('opentype'),
           url('../fonts/Lato-ExtraBold.woff')  format('woff'),
           url('../fonts/Lato-ExtraBold.woff2')  format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
:root{
	--white: #fff;
	--black: #000;
}
html{
    box-sizing: border-box;
}
*, *::after, *::before{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
body{
    background: #272733;
    color: #fff;
    font-family: "Lato-Regular", "Arial", sans-serif;
    font-size: 0.73vw;
    line-height: 0.94vw;
    &.scroll-locked {
        position: fixed;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden
    }
}
a{
    text-decoration: none; color: inherit;
}
.c{
    clear:both;
}
li{
    list-style-type: none;
}
img{
    border:none;
    outline:none;
    vertical-align:bottom;
}
.container{
    width: 100%;
    max-width: 60.94vw;
    padding: 0 0.52vw;
    margin: 0 auto;
    @media only screen and (max-width: 991px) {
        max-width: 100%;
        padding: 0 40px;
    }
    @media only screen and (max-width: 768px) {
        padding: 0 15px;
    }
}
.header{
    background: rgba(16, 16, 29, 0.9);
    height: 5.21vw;
    width: 100%;
    position: relative;
    z-index: 99;
    &._scroll {
        position: fixed;
        top: -5.21vw;
        transform: translateY(100%);
        transition: all .5s ease;
        @media only screen and (max-width: 991px) {
            top: -60px;
        }
    }
    @media only screen and (max-width: 991px) {
        height: 60px;
        width: 100vw;
    }
    &._open{
        position: fixed !important;
        top: 0;
        left: 0;
    }
    .header__container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
    }
    .header__logo{
        max-width: 12.71vw;
        @media only screen and (max-width: 991px) {
            max-width: 126px;
        }
        & img{
            max-width: 100%;
        }
    }
    .header__menu{
        display: flex;
        gap: 3.13vw;
        align-items: center;
        transition: all .2s ease;
        @media only screen and (max-width: 991px) {
            gap: 40px;
            flex-direction: column;
            align-items: flex-start;
            position: absolute;
            top: 100%;
            right: 100%;
            width: 75%;
            height: calc(100vh - 60px);
            height: calc(100svh - 60px);
            background: rgba(16, 16, 29, 0.9);
            padding: 60px;
        }
        @media only screen and (max-width: 768px) {
            padding: 20px;
            gap: 20px;
        }
        &._open{
            transform: translateX(100%);
        }
        .header__menu-item{
            color: #fff;
            font-family: Lato-SemiBold;
            font-size: 0.68vw;
            line-height: 100%;
            letter-spacing: 0%;
            text-transform: uppercase;
            transition: all .2s ease;
            @media only screen and (max-width: 991px) {
                font-size: 16px;
            }
            &._active{
                color: #43ABF0;
            }
            &:hover{
                color: #43ABF0;
            }

        }
    }
    .header__butter{
        display: none;
        @media only screen and (max-width: 991px) {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 20px;
            height: 10px;
            position: relative;
        }
        &::before{
            content: "";
            position: absolute;
            top: 50%;
            left: 0;
            width: 100%;
            height: 2px;
            border-radius: 10px;
            transform: translateY(calc(-50% + 4px));
            background: #3E9CDC;
            display: block;
            transition: all .2s ease;
        }
        &::after{
            content: "";
            position: absolute;
            top: 50%;
            left: 0;
            width: 100%;
            height: 2px;
            border-radius: 10px;
            transform: translateY(calc(-50% - 4px));
            background: #3E9CDC;
            display: block;
            transition: all .2s ease;
        }
        &._open::before{
            transform: translateY(-50%) rotate(-45deg);
        }
        &._open::after{
            transform: translateY(-50%) rotate(45deg);
        }
    }
}
main._scroll {
    margin-top: 5.21vw;
    @media only screen and (max-width: 991px) {
        margin-top: 60px !important;
    }
    
}
.media-top{
    height: 44.27vw;
    position: relative;
    padding: 10.57vw 0;
    margin-top: -5.21vw;
    @media only screen and (max-width: 991px) {
        margin-top: -60px;
        height: auto;
        padding: 50px 0;
        padding-top: 90px;
        min-height: 44.27vw;
    }
    & > img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
    }
    .media-top__container{
        position: relative;
        z-index: 2;
    }
    .media-top__title{
        color: #000;
        font-family: Lato-Bold;
        font-size: 2.50vw;
        line-height: 100%;
        letter-spacing: 0%;
        text-transform: uppercase;
        max-width: 40.63vw;
        margin-bottom: 4.17vw;
        @media only screen and (max-width: 991px) {
            font-size: 28px;
            max-width: 448px;
            margin-bottom: 30px;
        }
        & > span{
            color: #43ABF0;
        }
    }
    .media-top__description{
        margin-bottom: 4.17vw;
        color: #000;
        max-width: 27.81vw;
        @media only screen and (max-width: 991px) {
            max-width: 448px;
            margin-bottom: 20px;
        }
        & li{
            font-family: Lato-Regular;
            font-size: 1.04vw;
            line-height: 100%;
            letter-spacing: 0%;
            padding-left: 1.35vw;
            position: relative;
            @media only screen and (max-width: 991px) {
                font-size: 16px;
                padding-left: 20px;
            }
            &::before{
                content: '';
                position: absolute;
                left: 0.52vw;
                top: 50%;
                transform: translateY(-50%);
                width: 0.26vw;
                height: 1px;
                background: #000;
                @media only screen and (max-width: 991px) {
                    left: 6px;
                    width: 8px;
                }
            }
            &:not(:last-child){
                margin-bottom: 0.26vw;
                @media only screen and (max-width: 991px) {
                    margin-bottom: 10px;
                }
            }
        }
        & > p{
            font-family: Lato-Bold;
            font-size: 1.04vw;
            line-height: 100%;
            letter-spacing: 0%;
            @media only screen and (max-width: 991px) {
                font-size: 16px;
            }
            &:not(:last-child){
                margin-bottom: 0.52vw;
                @media only screen and (max-width: 991px) {
                    margin-bottom: 20px;
                }
            }
        }
        & > ul:not(:last-child){
            margin-bottom: 0.52vw;
            @media only screen and (max-width: 991px) {
                margin-bottom: 20px;
            }
        }
    }
    .media-top__btns{
        display: flex;
        gap: 1.56vw;
        align-items: center;
        @media only screen and (max-width: 991px) {
            gap: 20px;
        }
        @media only screen and (max-width: 768px) {
            flex-direction: column;
            gap: 10px;
        }
        .media-top__btns-order{
            padding: 0.78vw 1.61vw;
            display: flex;
            justify-content: center;
            align-items: center;
            min-width: 9.53vw;
            border-radius: 0.21vw;
            border: 1px solid #fff;
            background: #3E9CDC;
            color: #fff;
            font-family: Lato-Regular;
            font-size: 0.68vw;
            line-height: 100%;
            letter-spacing: 0%;
            text-align: center;
            text-transform: uppercase;
            transition: all .2s ease;
            @media only screen and (max-width: 991px) {
                font-size: 14px;
                min-width: 200px;
                padding: 10px 12px;
            }
            @media only screen and (max-width: 768px) {
                width: 100%;
            }
            &:hover{
                background: #fff;
                color: #2A2B30;
                border: 1px solid #6F6D7B;
            }
        }
        .media-top__btns-more{
            padding: 0.78vw 1.61vw;
            display: flex;
            justify-content: center;
            align-items: center;
            min-width: 9.53vw;
            border-radius: 0.21vw;
            border: 1px solid #6F6D7B;
            background: #fff;
            color: #2A2B30;
            font-family: Lato-Regular;
            font-size: 0.68vw;
            line-height: 100%;
            letter-spacing: 0%;
            text-align: center;
            text-transform: uppercase;
            transition: all .2s ease;
            @media only screen and (max-width: 991px) {
                font-size: 14px;
                min-width: 200px;
                padding: 10px 12px;
            }
            @media only screen and (max-width: 768px) {
                width: 100%;
            }
            &:hover{
                background: #3E9CDC;
                color: #fff;
                border: 1px solid #fff;
            }
        }
    }
}
.bs-select {
    position: absolute !important;
    bottom: 0;
    left: 50%;
    display: block !important;
    width: 0 !important;
    height: 100% !important;
    padding: 0 !important;
    opacity: 0 !important;
    border: none;
}
.form{
    padding-top: 6.30vw;
    padding-bottom: 7.81vw;
    background: url('../img/form-media.webp') no-repeat center;
    background-size: 100%;
    position: relative;
    @media only screen and (max-width: 991px) {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    @media only screen and (max-width: 768px) {
        background-size: cover;
    }
    .form__container{
        position: relative;
        z-index: 2;
    }
    .form__title{
        color: #fff;
        font-family: Lato-ExtraBold;
        font-size: 1.88vw;
        line-height: 100%;
        letter-spacing: 0%;
        text-transform: uppercase;
        margin-bottom: 1.56vw;
        text-align: center;
        @media only screen and (max-width: 991px) {
            font-size: 26px;
            margin-bottom: 20px;
        }
        & > span{
            color: #43ABF0;
        }
    }
    .form__description{
        color: #BBB;
        font-family: Lato-Regular;
        font-size: 0.94vw;
        line-height: 100%;
        letter-spacing: 0%;
        margin-bottom: 4.17vw;
        text-align: center;
        @media only screen and (max-width: 991px) {
            font-size: 16px;
            margin-bottom: 30px;
        }
    }
    .form__work{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 4.17vw;
        position: relative;
        @media only screen and (max-width: 991px) {
            margin-bottom: 40px;
        }
        @media only screen and (max-width: 768px) {
            flex-direction: column;
            gap: 86px;
            margin-bottom: 80px;
        }
        .form__work-item{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1.04vw;
            position: relative;
            z-index: 2;
            width: 9.84vw;
            @media only screen and (max-width: 991px) {
                width: 100px;
                gap: 20px;
            }
            @media only screen and (max-width: 768px) {
                width: 100%;
            }
            & > span{
                width: 5.21vw;
                height: 5.21vw;
                border-radius: 50%;
                border: 0.26vw solid #286690;
                background: #3E9CDC;
                display: flex;
                justify-content: center;
                align-items: center;
                @media only screen and (max-width: 991px) {
                    width: 50px;
                    height: 50px;
                    border: 2px solid #286690;
                }
            }
            .form__work-item-name{
                text-align: center;
                color: #fff;
                font-family: Lato-Regular;
                font-size: 0.83vw;
                line-height: 100%;
                letter-spacing: 0%;
                @media only screen and (max-width: 991px) {
                    font-size: 14px;
                }
            }
            & svg{
                max-width: 2.03vw;
                @media only screen and (max-width: 991px) {
                    max-width: 40%;
                }
            }
        }
        .form__work-line{
            position: absolute;
            left: 50%;
            top: 2.45vw;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 8.33vw;
            width: 100%;
            transform: translateX(-50%);
            @media only screen and (max-width: 991px) {
                top: 25px;
                padding: 0 50px;
                justify-content: space-around;
            }
            @media only screen and (max-width: 768px) {
                flex-direction: column;
                height: 100%;
                padding: 96px 0;
                gap: 104px;
                justify-content: space-around;
                top: 0;
            }
            & svg{
                width: 5.73vw;
                @media only screen and (max-width: 991px) {
                    width: 56px;
                }
                @media only screen and (max-width: 768px) {
                    transform: rotate(90deg);
                    height: 56px;
                }
            }
            & circle{
                r: 0.16vw;
                @media only screen and (max-width: 991px) {
                    r: 3px;
                }
            }
        }
    }
    form{
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
        gap: 1.56vw 0;
        margin: 0 -0.78vw;
        @media only screen and (max-width: 991px) {
            gap: 20px 0;
            margin: 0 10px;
        }
        @media only screen and (max-width: 768px) {
            flex-direction: column;
            align-items: center;
            margin: 0;
        }
        .form__select{
            position: relative;
            width: calc(33.333% - 1.56vw);
            margin: 0 0.78vw;
            @media only screen and (max-width: 991px) {
                width: calc(33.333% - 20px);
                margin: 0 10px;
            }
            @media only screen and (max-width: 768px) {
                width: 100%;
                margin: 0;
            }
            .form__select-top{
                border: 1px solid #fff;
                background: rgba(255, 255, 255, 0.85);
                padding: 0px 0.52vw;
                padding-right: 0.83vw;
                height: 2.50vw;
                border-radius: 0.16vw;
                display: flex;
                justify-content: space-between;
                align-items: center;
                transition: all .2s ease;
                cursor: pointer;
                @media only screen and (max-width: 991px) {
                    padding: 0 15px;
                    height: 40px;
                    border: 3px;
                    border-radius: 3px;
                }
                .form__select-top-name{
                    color: #272733;
                    font-family: Lato-Regular;
                    font-size: 0.94vw;
                    line-height: 100%;
                    letter-spacing: 0%;
                    transition: all .2s ease;
                    @media only screen and (max-width: 991px) {
                        font-size: 16px;
                    }
                }
                svg path{
                    transition: all .2s ease;
                }
                &._active{
                    background: rgba(61, 64, 80, 0.85);
                    border: 1px solid rgba(61, 64, 80, 0.85);
                    .form__select-top-name{
                        color: #fff;
                    }
                    svg{
                        transform: rotate(180deg);
                        path{
                            fill: #fff;
                        }
                    }
                }
            }
            .form__select-list{
                display: none;
                position: absolute;
                z-index: 3;
                top: 100%;
                left: 0;
                background: rgba(39, 39, 51, 1);
                border: 1px solid #3D4050;
                width: 100%;
                overflow: hidden;
                height: 9.38vw;
                border-radius: 0.16vw;
                @media only screen and (max-width: 991px) {
                    height: 150px;
                    border-radius: 3px;
                }
                .mCSB_scrollTools{
                    width: 0.36vw;
                    @media only screen and (max-width: 991px) {
                        width: 3px;
                    }
                }
                .mCSB_scrollTools .mCSB_draggerRail{
                    width: 0.36vw;
                    background-color: #3D4050;
                    @media only screen and (max-width: 991px) {
                        width: 3px;
                    }
                }
                .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
                    width: 0.36vw;
                    background-color: #3E9CDC;
                    border-radius: 0.16vw;
                    @media only screen and (max-width: 991px) {
                        width: 3px;
                        border: 3px;
                    }
                }
                .form__select-list-item-input{
                    display: none;
                }
                .form__select-list-item-label{
                    width: 100%;
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                    height: auto;
                    padding: 0 0.52vw;
                    @media only screen and (max-width: 991px) {
                        padding: 0 10px;
                    }
                    & > span{
                        color: #fff;
                        font-family: Lato-Regular;
                        font-size: 0.94vw;
                        line-height: 1.77vw;
                        letter-spacing: 0%;
                        @media only screen and (max-width: 991px) {
                            font-size: 14px;
                            line-height: 30px;
                        }
                    }
                    &.active-label > span{
                        color: #43ABF0;
                    }
                    &:hover > span{
                        color: #43ABF0;
                    }
                }
            }
        }
        .form__input{
            border: 1px solid #fff;
            background: rgba(255, 255, 255, 0.85);
            outline: none !important;
            width: calc(33.333% - 1.56vw);
            margin: 0 0.78vw;
            padding: 0px 0.52vw;
            height: 2.50vw;
            border-radius: 0.16vw;
            color: #272733;
            font-family: Lato-Regular;
            font-size: 0.94vw;
            line-height: 100%;
            letter-spacing: 0%;
            &::placeholder,
            &::-moz-placeholder,
            &:-ms-input-placeholder{
                opacity: 1;
                color: #272733;
                font-family: Lato-Regular;
                font-size: 0.94vw;
                line-height: 100%;
                letter-spacing: 0%;
                @media only screen and (max-width: 991px) {
                    font-size: 16px;
                }
            }
            &._valid{
                background: rgba(221, 143, 140, 0.87);
            }
            @media only screen and (max-width: 991px) {
                width: calc(33.333% - 20px);
                margin: 0 10px;
                padding: 0 15px;
                height: 40px;
                font-size: 16px;
                border-radius: 3px;
            }
            @media only screen and (max-width: 768px) {
                width: 100%;
                margin: 0;
            }
        }
        .form__range{
            width: calc(66.666% - 1.56vw);
            margin: 0 0.78vw;
            height: 2.50vw;
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            @media only screen and (max-width: 991px) {
                width: calc(66.666% - 20px);
                margin: 0 10px;
                height: 40px;
            }
            @media only screen and (max-width: 768px) {
                width: 100%;
                margin: 0;
            }
            .form__range-top{
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                margin-bottom: 1.04vw;
                @media only screen and (max-width: 991px) {
                    margin-bottom: 10px;
                }
                .form__range-label{
                    color: #fff;
                    font-family: Lato-Regular;
                    font-size: 0.94vw;
                    line-height: 100%;
                    letter-spacing: 0%;
                    @media only screen and (max-width: 991px) {
                        font-size: 14px;
                    }
                }
                & > span{
                    color: rgba(255, 255, 255, 0.85);
                    font-family: Lato-SemiBold;
                    font-size: 0.94vw;
                    line-height: 100%;
                    letter-spacing: 0%;
                    text-align: right;
                    @media only screen and (max-width: 991px) {
                        font-size: 14px;
                    }
                }
            }
            .form__range-track{
                box-sizing: border-box;
                height: 0.31vw;
                background-color: rgba(255,255,255,.7);
                border: 1px solid #fff;
                border-radius: 0.31vw;
                position: relative;
                z-index: -1;
                @media only screen and (max-width: 991px) {
                    height: 4px;
                }
            }
            .form__range-progress{
                position: absolute;
                bottom: 0;
                width: calc(var(--value) * 1%);
                height: 0.31vw;
                border-radius: 0.52vw;
                background-color: none;
                z-index: -1;
                transition: all .2s ease;
                @media only screen and (max-width: 991px) {
                    height: 4px;
                    border-radius: 3px;
                }
            }
            .form__range-thumbs{
                position: absolute;
                left: 0;
                top: calc(100% - 0.73vw);
                z-index: 2;
                width: 100%;
                @media only screen and (max-width: 991px) {
                    top: calc(100% - 8px);
                }
            }
            .form__range-input{
                width: 100%;
                height: 1.25vw;
                border-radius: 0.52vw;
                appearance: none;
                background: none;
                @media only screen and (max-width: 991px) {
                    height: 8px;
                    border-radius: 3px;
                }
                &::-moz-range-thumb {
                    opacity: 1;
                    width: 1.25vw;
                    height: 1.25vw;
                    margin-top: 0;
                    border: none;
                    border-radius: 50%;
                    background: #42A9ED;
                    border: 0.16vw solid #286690;
                    transition: 300ms;
                    @media only screen and (max-width: 991px) {
                        border: 2px solid #286690;
                        width: 15px;
                        height: 15px;
                    }
                }
            }
            .form__range-output{
                color: rgba(255, 255, 255, 0.85);
                font-family: Lato-SemiBold;
                font-size: 0.94vw;
                line-height: 100%;
                letter-spacing: 0%;
                text-align: right;
                position: absolute;
                right: 0.78vw;
                bottom: calc(100% + 0.83vw);
                @media only screen and (max-width: 991px) {
                    font-size: 14px;
                    right: 14px;
                    bottom: calc(100% + 18px);
                }
            }
        }
        .form__file{
            width: calc(33.333% - 1.56vw);
            margin: 0 0.78vw;
            background: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 0.52vw;
            height: 2.50vw;
            transition: all .2s ease;
            border-radius: 0.21vw;
            position: relative;
            cursor: pointer;
            @media only screen and (max-width: 991px) {
                width: calc(33.333% - 20px);
                margin: 0 10px;
                height: 40px;
                gap: 15px;
                border-radius: 3px;
            }
            @media only screen and (max-width: 768px) {
                width: 100%;
                margin: 0;
            }
            & svg{
                width: 0.94vw;
                @media only screen and (max-width: 991px) {
                    width: 14px;
                }
            }
            & path{
                transition: all .2s ease;
            }
            & span{
                color: #272733;
                font-family: Lato-SemiBold;
                font-size: 0.78vw;
                line-height: 100%;
                letter-spacing: 0%;
                text-transform: uppercase;
                transition: all .2s ease;
                @media only screen and (max-width: 991px) {
                    font-size: 14px;
                }
            }
            & input{
                position: absolute;
                left: 0;
                top: 0;
                opacity: 0;
                width: 100%;
                height: 100%;
                z-index: 2;
                cursor: pointer;
            }
            &:hover{
                background: rgba(61, 64, 80, 0.85);
            }
            &:hover path{
                fill: #fff;
            }
            &:hover span{
                color: #fff;
            }
        }
        .form__btn{
            margin: 0 auto;
            margin-top: 1.04vw;
            width: calc(33.333% - 1.56vw);
            height: 2.50vw;
            color: #fff;
            font-family: Lato-SemiBold;
            font-size: 0.78vw;
            line-height: 100%;
            letter-spacing: 0%;
            text-align: center;
            text-transform: uppercase;
            background: #3E9CDC;
            border: 1px solid #fff;
            border-radius: 0.21vw;
            transition: all .2s ease;
            cursor: pointer;
            @media only screen and (max-width: 991px) {
                width: calc(33.333% - 20px);
                margin: 0 auto;
                margin-top: 20px;
                height: 40px;
                border-radius: 3px;
                font-size: 16px;
            }
            @media only screen and (max-width: 768px) {
                width: 100%;
                margin: 0;
            }
            &:hover{
                background: #fff;
                color: #272733;
                border: 1px solid #272733;
            }
        }
    }
}
.footer{
  background: #3D4050;
  .footer__container{
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 1.04vw;
      height: 4.17vw;
      @media only screen and (max-width: 991px) {
        height: 100px;
        gap: 20px;
        position: relative;
        align-items: flex-start;
        padding: 20px 40px;
      }
      @media only screen and (max-width: 768px) {
        flex-direction: column;
        align-items: center;
        height: auto;
        padding: 20px 15px;
      }
      .footer__copy{
        color: #fff;
        font-family: Lato-Regular;
        font-size: 0.68vw;
        line-height: 100%;
        letter-spacing: 0%;
        @media only screen and (max-width: 991px) {
            font-size: 12px;
            max-width: 160px;
            align-self: center;
        }
        @media only screen and (max-width: 768px) {
            order: 1;
            max-width: 100%;
        }
      }
      .footer__wallet{
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 1.98vw;
          border-left: 1px solid #C3C3C3;
          border-right: 1px solid #C3C3C3;
          padding: 0 2.08vw;
          @media only screen and (max-width: 991px) {
            font-optical-sizing: 15px;
            padding: 0;
            padding-top: 10px;
            border-right: none;
            border-left: none;
            border-top: 1px solid #C3C3C3;
            position: absolute;
            right: 40px;
            top: 50px;
          }
          @media only screen and (max-width: 768px) {
            position: static;
            border-top: none;
            justify-content: center;
            flex-wrap: wrap;
          }
          .footer__wallet-item{
              display: flex;
              align-items: center;
              gap: 0.52vw;
              flex-shrink: 0;
              @media only screen and (max-width: 991px) {
                gap: 10px
              }
              & > span{
                  color: #C3C3C3;
                  font-family: Lato-Regular;
                  font-size: 0.68vw;
                  line-height: 100%;
                  letter-spacing: 0%;
                  @media only screen and (max-width: 991px) {
                    font-size: 12px;
                  }
              }
          }
      }
      .footer__social{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1.98vw;
        @media only screen and (max-width: 991px) {
            gap: 15px;
        }
        @media only screen and (max-width: 768px) {
            justify-content: center;
            flex-wrap: wrap;
        }
        .footer__social-item{
            display: flex;
            align-items: center;
            gap: 0.52vw;
            flex-shrink: 0;
            @media only screen and (max-width: 991px) {
                gap: 10px;
            }
            & > span{
                color: #C3C3C3;
                font-family: Lato-Regular;
                font-size: 0.68vw;
                line-height: 100%;
                letter-spacing: 0%;
                text-transform: uppercase;
                transition: all .2s ease;
                @media only screen and (max-width: 991px) {
                    font-size: 12px;
                }
            }
            & path{
                transition: all .2s ease;
            }
            &:hover > span{
                color: #fff;
            }
        }
      }
  }  
}
.modal{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 100;
    background: rgba(61, 64, 80, 0.85);
    transition: all .2s ease;
    .modal__block{
        display: none;
        background: #fff;
        border-radius: 0.31vw;
        padding: 1.56vw;
        display: flex;
        flex-direction: column;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        transition: all .2s ease;
        .modal__block-title{
            color: #286690;
            font-family: Lato-ExtraBold;
            font-size: 1.88vw;
            line-height: 100%;
            letter-spacing: 0%;
            text-transform: uppercase;
            margin-bottom: 1.04vw;
        }
        .modal__block-description{
            color: #000;
            font-family: Lato-Regular;
            font-size: 0.94vw;
            line-height: 100%;
            letter-spacing: 0%;
        }
    }
}



.wow{
    visibility: hidden;
}